@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@700&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: var(--white-color);
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 700px;
    min-width: 320px;
    min-height: calc(100vh - 180px);
    margin: 0 auto;
}

.display-none {
    display: none;
}

.btn {
    background-color: var(--dark-color);
    border: none;
    border-radius: 4px;
}

.error-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 30px;
    color: black;
}

.button-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 26px;
    color: var(--white-color);
}

.placeholder-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: var(--dark-color);
}

.post-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: var(--dark-color);
}

.date-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.custom-scroll {
    position: absolute;
    top: 0px;
    right: 5px;
    width: 10px;
    height: 100%;
    border: 1px solid var(--main-color);
    border-radius: 8px;
}

.custom-progress {
    position: absolute;
    top: 2px;
    left: 50%;
    width: 6px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 6px;
    transform: translateX(-50%);
}

.custom-dropdown {
    margin-top: 2px;
    padding: 0;
    min-height: 100px;
    overflow: scroll;
    padding-bottom: 0px;
    scroll-padding-bottom: 0;
}

.custom-dropdown-item {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border-radius: 4px;
    transition: .2s;
    cursor: pointer;
}

.custom-dropdown-item:hover {
    background-color: rgba(42, 157, 143, .2);
}

.custom-dropdown::-webkit-scrollbar {
    width: 0;
}

.border-style {
    padding: 2%;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    resize: none;
    outline-color: var(--dark-color);
}

.posts-load {
    color: var(--main-color);
    height: 50px;
    padding: 0;
}
